html, body {
  font-family: Helvetica Neue, Sans-serif;
/*   background-color:#ffffff; */
   background-image: url("https://cdn.wallpapersafari.com/91/60/M9k5Ka.png");
  background-size: 100% 100%;
}

#celciusButton{
  background-color: #4b4bce;
  color: white;
  height:60px;
  width:60px;
}
#fahrenheitButton{
  background-color: #b53b3b;
  color: white;
  height:60px;
  width:60px;
}

#search{
  font-size: 30px;
  height: 60px;
} 
.hidden{
  display:none;
}

#map{
  height: 500px;
  width: 100%;
}
